.ear-left {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: lightgrey;
    
}

.inner-ear {
    width: 100px;
height: 100px;
border-radius: 50%;
background: grey;
}

.ear-right {
    width: 150px;
height: 150px;
border-radius: 50%;
background: lightgrey;
}

.face {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: lightgrey;
}

.eye-left {
    width: 75px;
height: 75px;
border-radius: 50%;
background: white;
}

.eye-right {
    width: 75px;
height: 75px;
border-radius: 50%;
background: white;
}

.pupil {
    width: 30px;
height: 30px;
border-radius: 50%;
background: black;
}

.hair-left {
    width: 0;
height: 0;
border-left: 40px solid transparent;
border-right: 40px solid transparent;
border-bottom: 40px solid lightgray;
}

.hair-right {
    width: 0;
height: 0;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
border-bottom: 30px solid lightgray;
}

.nose {
    width: 40px;
    height: 80px;
    border-radius: 100% / 50%;
    background: #B68763;
}

.koala {
    position: relative;
}

body {
    background-color: lightblue;
}